
<div class="ncontent">
    <h1 class="m-t-20">404</h1>
    <p class="error-title">PAGE NOT FOUND</p>
    <p class="m-b-20">
        Sorry, the page you were looking for could not found. Please check the URL and try your luck again.
        <a class="color-green" onclick="goBack()">Go Back</a> or try the search bar below.
    </p>
 
</div>

<style>
    .ncontent {
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
        margin-top:90px;
    }

        .content h1 {
            font-size: 160px
        }

    .error-title {
        font-size: 22px;
        font-weight: 500;
        margin-top: 30px
    }
</style>
<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>